apiVersion: v1
kind: Service
metadata:
  name: wikipedia-pages
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: wikipedia-pages
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP

