apiVersion: v1
kind: Service
metadata:
  name: todo-app-backend-svc
  namespace: project
spec:
  type: ClusterIP
  selector:
    app: todo-app 
  ports:
    - port: 2346
      protocol: TCP
      targetPort: 4001