apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: shared-claim
  namespace: exercises
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi